<main class="feeds__container mb-8">
  <div class="feeds__body">
    <div class="card__grid-home w-full lg:grid-cols-8 xl:grid-cols-12">
      <div class="card__grid feeds__feed" data-content="<%= @post.category %>">
        <%= render "edit_form" %>
      </div>
    </div>
  </div>
  <%= render partial: "decidim/posts/posts/sidebar.html" %>
</main>