<%= decidim_form_for(@form, url: Decidim::EngineRouter.main_proxy(@meeting.component).meeting_path(@meeting), html: { class: "meetings_form new_meeting" }) do |form| %>
  <div class="form__wrapper p-0 gap-4">
    <%= render partial: "decidim/posts/posts/meeting_form", locals: { form: form } %>
  </div>
  <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
    <%= form.submit "#{t("decidim.components.posts.newFeed.action")} #{icon('send-plane-line')}".html_safe, class: "sndBtn button button__sm button__transparent-primary", data: { disable: true } %>
  </div>
<% end %>
