<div id="feeds_post-<%= post.id %>_reactions" class="pb-1">
  <% grouped_reactions_for(post).each do |reaction_type, reactions| %>
    <div class="flex gap-2 items-center">
      <span class="text-xl"><%= reaction_icon(reaction_type.icon_name) %></span>
      <span class="text-sm"><%= reactions.count %></span>
    </div>
  <% end %>
</div>
