<% total_reactions = 0 %>
<div class="flex pl-1">
  <% grouped_reactions_for(post).each do |reaction_type, reactions| %>
      <span class="text-sm ml-[-0.25rem]"><%= reaction_icon(reaction_type.icon_name) %></span>
      <% total_reactions += reactions.count %>
  <% end %>
</div>
<span class="total-reactions">
  <%= total_reactions if total_reactions > 0 %>
</span>